.content {
  flex: 1 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.footer {
  flex: 0 0 auto;
  height: 10px;
  color: grey;
  border-top: grey solid 2px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 10px;
  text-align: center;
  font-size: 200%;
}
